{{ 'slider.css' | asset_url | stylesheet_tag }}
{{ 'modalSlider.css' | asset_url | stylesheet_tag }}
<script src="{{ 'variantSelector.js' | asset_url }}" defer></script>
<script src="{{ 'cart-notification.js' | asset_url}}" defer></script>
<script src="{{ 'slider.js' | asset_url }}" defer></script>
<script src="{{ 'quantity.js' | asset_url }}" defer></script>
<script src="{{ 'modalSlider.js' | asset_url }}" defer></script>

{% assign selected_product_variant = product.selected_or_first_available_variant %}

<style>
  * {
    box-sizing: border-box
  }

  body {
    margin:0
    font-family: sans-serif
  }
</style>

<div class="relative w-full flex flex-col md:mx-auto my-10">
  <div class="grid grid-cols-1 w-full sm:place-items-center md:grid-cols-2 gap-0">
    <div class="slider-wrapper">
      <button class="slide-arrow" id="slide-arrow-prev">&#8249;</button>
      <button class="slide-arrow" id="slide-arrow-next">&#8250;</button>
      <ul class="slides-container" id="slides-container">
        {% for media in product.media %}
          <li
            id="slide"
            class="h-[90%] w-[90%] overflow-hidden bg-bgGlass drop-shadow-2xl border-bdGlass rounded-radiusGlass border-solid"
          >
            {% render 'product-media', media: media %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <!-- product information -->
    <div class="flex flex-col w-full">
      <form
        action="/cart/add"
        method="POST"
        onsubmit="true"
        id="product-form"
        novalidate
      >
        <input type="hidden" name="id" id="variant-id" value="{{ selected_product_variant.id }}">

        <!-- product title and vendor -->
        <div class="flex flex-col px-4 w-[50%]">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'title' %}
                <div class="mt-2">
                  <h1 class="text-3xl text-textColor2">
                    {{ product.title }}
                  </h1>
                </div>

              {% when 'vendor' %}
                <div class="my-1">
                  <span class="text-xs text-gray-500">{{ product.vendor }}</span>
                </div>

                <!-- price and sale -->

              {% when 'price' %}
                <div class="my-2 gap-x-3" id="price-{{ section.id }}">
                  <span class="text-base text-gray-500 line-through">
                    {{ selected_product_variant.compare_at_price | money }}
                  </span>
                  <span id="product-price" class="text-lg text-gray-900">
                    {{ selected_product_variant.price | money }}
                  </span>

                  {% if selected_product_variant.price < selected_product_variant.compare_at_price %}
                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Sale</span>
                  {% endif %}
                </div>

                <!-- quantities and add to cart -->
              {% when 'quantity' %}
                <div class="my-3 inline-flex items-center gap-x-5">
                  <label for="Quantity-{{ section.id }}">Quantity:</label>
                  <div class="my-2 select-none">
                    <div class="inline-flex gap-x-4 items-center select-none">
                      <div id="minus-button" class="cursor-pointer">
                        {% render 'minus' %}
                      </div>

                      <p id="quantity-value" class="select-none">1</p>

                      <div id="plus-button" class="cursor-pointer">
                        {% render 'plus' %}
                      </div>

                      <input
                        id="Quantity-{{ section.id }}"
                        data-key="Quantity-{{ section.id }}"
                        type="number"
                        name="quantity"
                        min="1"
                        value="1"
                        class="hidden border border-textColor w-[50%] text-center text-[1em]"
                      >
                    </div>
                  </div>
                </div>

              {% when 'description' %}
                <div class="my-4 w-full text-left">
                  <p class="text-gray-700 text-medium">{{ product.description }}</p>
                </div>
            {% endcase %}
          {% endfor %}
        </div>

        <div class="grid px-4 md:grid-rows-2 w-[50%]">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'variant_selector' %}
                <div class="my-3 w-[90%]">
                  {% unless product.has_only_default_variant %}
                    <variant-custom-element data-url="{{ product.url }}" data-section="{{ section.id }}">
                      {% for option in product.options_with_values %}
                        <div>
                          <label for="option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                          <div class="my-4">
                            <select
                              name="options[{{ option.name | escape }}]"
                              id="Option-{{ section.id }}-{{ forloop.index0 }}"
                              class="w-full border border-gray-300 text-textColor py-1 px-5"
                            >
                              {% for value in option.values %}
                                <option
                                  value="{{ value | escape }}"
                                  {% if option.selected_value == value %}
                                    selected="selected"
                                  {% endif %}
                                >
                                  {{ value }}
                                </option>
                              {% endfor %}
                            </select>
                          </div>
                        </div>

                        <script type="application/json">
                          {{ product.variants | json }}
                        </script>
                      {% endfor %}
                    </variant-custom-element>
                  {% else %}
                    <div class="my-4">
                      <h1 class="text-center font-semibold text-xl text-gray-300">No Variants</h1>
                    </div>
                  {% endunless %}
                </div>

              {% when 'checkout_buttons' %}
                <div class="mt-12 w-[80%] flex flex-col gap-y-4 items-start h-[50%]">
                  <button
                    type="submit"
                    name="add"
                    id="addToCart"
                    class="text-sm px-10 w-[full] py-3 border border-textColor2 text-center text-textColor2 bg-white font-semibold hover:text-white hover:bg-textColor2 hover:cursor-pointer"
                    {% if selected_product_variant.available == false %}
                      disabled
                    {% endif %}
                  >
                    {% if selected_product_variant.available == false %}
                      Sold out
                    {% else %}
                      Add to cart
                    {% endif %}
                  </button>
                </div>
            {% endcase %}
          {% endfor %}
        </div>
      </form>
    </div>
  </div>
  {% render 'cart-notification' %}
</div>

{% schema %}
{
  "name": "Product",
  "blocks": [
    {
      "type": "vendor",
      "name": "Vendor or company",
      "limit": 1
    },
    {
      "type": "title",
      "name": "Title",
      "limit": 1
    },
    {
      "type": "price",
      "name": "Price",
      "limit": 1
    },
    {
      "type": "variant_selector",
      "name": "Variant Selector",
      "limit": 1
    },
    {
      "type": "quantity",
      "name": "Quantity",
      "limit": 1
    },
    {
      "type": "checkout_buttons",
      "name": "Checkout Buttons",
      "limit": 1
    },
    { "type": "description", "name": "Description", "limit": 1 }
  ],
  "presets": [
    {
      "name": "Featured Product"
    }
  ]
}
{% endschema %}
